#header {
    height: 50px;
    background-color: #10284e;
    color: #fff;

}

#branding h1 {
    color: #fff;
}

a:link, a:visited {
    color: #10284e;
}

div .breadcrumbs {
    background-color: #30caa0;
    color: #333333;
}

div .breadcrumbs a {
    color: #333333;
}

/* Admin/ */
.module caption, .inline-group h2 {
    background-color: #30caa0;
}

/* buttons */
.button, input[type=submit], input[type=button], .submit-row input, a.button,
.button.default, input[type=submit].default, .submit-row input.default {
    background-color: #10284e;
    color: #fff;
}