{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}

    <h1 id="head">
        <img src="{% static 'img/logo.png' %}" alt="Amlak Soroush" width="80" height="50" class="brand-img">
        Admin Dashboard
    </h1>

{% endblock %}
{% block extrastyle %}

    <link rel="stylesheet" href="{% static 'css/admin.css' %}">

{% endblock %}